.buildpath
.project
.settings
fuel/app/logs/*/*/*
fuel/app/cache/*/*
fuel/app/config/db.php
public/assets/img/slides
public/assets/img/gallery
public/assets/attaches
public/assets/prices
fuel/app/config/development/migrations.php
