@CHARSET "US-ASCII";

body {
	background: #191a14 url('../img/sea-aquarium-background.jpg') no-repeat;
}

.navbar {
	margin-top: 25px;
	opacity:0.97;
	border: none;
	box-shadow: 0 0 15px 3px #222;
}

.content {
	border-radius: 10px;
	padding: 15px;
	background: #222222;
	color: #FFFFFF;
/* 	background: #FFF; */
/* 	color: #222; */
	opacity:0.97;
	box-shadow: 0 0 15px 3px #222;
	margin-top: 50px;
}

.home-content {
	text-align: justify;
}

.footer {
	border-radius: 4px;
	padding: 15px;
	background: #222222;
	color: #FFFFFF;
/* 	background: #FFF; */
/* 	color: #222; */
	opacity:0.97;
	position:static;
	bottom:0;
	margin-top: 20px;
	box-shadow: 0 0 15px 3px #222;
}

#contactModal .modal-content {
	color: #222222 !important;
}